/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

$breeze-blue: #071431;
$breeze-green: #1DC28D;
$breeze-orange: #F8922E;
$desaturated-blue: #2A364E;

html, body {
  // Prevents scroll bounce in modern browsers
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

body, * {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  transition: all 0.4s;
}

.fixed {
  position: fixed;
}

.main {
  background-color: $breeze-blue;
  left: 0;
  bottom: 0;
  // Allows all content in ul.user-list to show when scrolling
  padding-bottom: 183px;

  .brand {
    padding: 70px 0;
    text-align: center;
    font-size: 38px;
    a {
      text-decoration: none;
      color: $breeze-green;
    }
  }

  .users {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    text-align: center;
    text-transform: uppercase;
    color: $breeze-green;
    background-color: $desaturated-blue;

    p {
      background-color: $desaturated-blue;
      border-bottom: 1px solid lighten($desaturated-blue, 7%);
      font-size: 13px;
      padding: 8px 0;
      position: fixed;
    }
  }
}

.users ul.user-list {
  padding-top: 31px;
  list-style: none;

  li {
    border-top: 1px solid lighten($desaturated-blue, 7%);
    padding: 30px 0;

    &:hover {
      background-color: $breeze-green;
      color: $breeze-blue;
    }

    &:first-child {
      border: none;
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: none;
    }
  }

  .active {
    color: #000;
    border-top: 1px solid $breeze-green;
  }
}

.filters {
  background-color: rgba(29,194,141,0.85);
  height: 60px;
  z-index: 999;
}

#map {
  top: 0;
  transition: none;
}

@media screen and (min-width: 800px) {
  .main {
    top: 0;
    height: 100%;
  }

  .filters {
    top: 0;
    right: 0;
  }

  #map {
    height: 100%;
    border-left: 2px solid $breeze-green;
  }
}

@media screen and (min-width: 1100px) {
  .main, .main .users p {
    width: 25%;
  }

  .filters, #map {
    left: 25%;
  }

  #map {
    width: 75%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px), screen and (min-device-width: 800) and (max-device-width: 1100) {
  .main, .main .users p {
    width: 30%;
  }

  .filters, #map {
    left: 30%;
  }

  #map {
    width: 70%;
  }
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  .main, .main .users p, #map, .filters {
    width: 100%
  }

  .main {
    height: 40%;
    width: 100%;
    z-index: 9999;
    padding-bottom: 63px;

    .brand {
      padding: 10px 0;
    }
  }

  #map {
    height: 60%;
  }
}