/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

html, body {
  overflow: hidden; /* Prevents scroll bounce */
  height: 100%;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

body, * {
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
  transition: all 0.4s;
}

.fixed {
  position: fixed;
}

.left {
  background-color: #071431;
  left: 0;
  bottom: 0;
  padding-bottom: 182px; /* Allows all content in ul.user-list to show when scrolling */
}

.top {
  background-color: rgba(29,194,141,0.85);
  height: 60px;
  z-index: 999;
}

#map {
  top: 0;
  transition: none;
}

.brand {
  padding: 75px 0;
  text-align: center;
  font-size: 28px;
  a {
    text-decoration: none;
    color: #1DC28D;
  }
}

.users {
  height: 100%;
  overflow-y: scroll;
  border-top: 5px solid #1DC28D;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: #1B2231;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #3E5074;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #475B85;
  }
}

ul.user-list {
  list-style: none;
  li {
    background-color: #2A364E;
    border-top: 1px solid #3C4D6F;
    color: #F8922E;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
    &:hover {
      background-color: #1DC28D;
      color: #071431;
    }
    &:first-child {
      border: none;
    }
  }
}

@media screen and (min-width: 800px) {
  .left {
    top: 0;
    height: 100%;
  }
  .top {
    top: 0;
    right: 0;
  }
  #map {
    height: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .left {
    width: 25%;
  }
  .top, #map {
    left: 25%;
  }
  #map {
    width: 75%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px), screen and (min-device-width: 800) and (max-device-width: 1100) {
  .left {
    width: 30%;
  }
  .top, #map {
    left: 30%;
  }
  #map {
    width: 70%;
  }
}

@media screen and (max-width: 800px), screen and (max-device-width: 800px) {
  .left {
    height: 35%;
    width: 100%;
    z-index: 9999;
    padding-bottom: 72px;
    .brand {
      padding: 20px 0;
    }
  }
  .top {
    width: 100%;
  }
  #map {
    height: 65%;
  }
}