<nav class="fixed filters">
  <span>Filters</span>
  <ul>
    <li><input type="checkbox" id="charges-filter" /><label for="charges-filter">Charges</label></li>
    <li><input type="checkbox" id="earnings-filter" /><label for="earnings-filter">Earnings</label></li>
  </ul>
</nav>
