<!DOCTYPE html>
<html>
<head>
  <title>breezer by Matthew Gray</title>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">
</head>
<body>
<nav class="fixed main">
  <div class="brand">
  <a href="/">breezer</a>
  </div>
  <div class="users">
    <%= render partial: "map/users_list" %>
  </div>
</nav>
<!-- <nav class="fixed filters">Filter options</nav> -->
<section id="map"></section>
</body>
</html>
